<p>
  <mat-toolbar class="toolbar1">
  <div class="logo">
    <img src="assets\Logo_Transparente.jpg" alt="CorvusEconomy" width="200">
  </div>
  <span class="example-spacer"></span>
  
  <button mat-raised-button>Desconectarse</button>

</mat-toolbar>
</p>
<app-login></app-login>
<app-register></app-register>
<app-forgotpassword></app-forgotpassword>
<app-inputs></app-inputs>
<app-outputs></app-outputs>

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .toolbar1{
    background-color: #48B9BD;
    height: 100px;
  }

  .example-spacer {
  flex: 1 1 auto;
  }


</style>

