<div class="container verde">
    <mat-card class="card">
        <div class="margin-b20">
          <mat-card-title class="margin-t10">Método de amortización constante </mat-card-title>
        </div >

        <div class="label2">
            <div class="azul1">
                <span class="azul">Frecuencia del cupón</span>
            </div>
            <div class="fusion">
                <span class="fus">180</span>
            </div>
        </div>

        <div class="label2 margin-b20 margin-t20">
            <div class="azul1">
                <span class="azul">Días de capitalización</span>
            </div>
            <div class="fusion">
                <span class="fus">60</span>
            </div>
        </div>

        <div class="label2 margin-b20">
            <div class="azul1">
                <span class="azul">Número de Períodos por Año</span>
            </div>
            <div class="fusion">
                <span class="fus">2</span>
            </div>
        </div>

        <div class="label2 margin-b20">
            <div class="azul1">
                <span class="azul">Número Total de Periodos</span>
            </div>
            <div class="fusion">
                <span class="fus">10</span>
            </div>
        </div>

        <div class="label2 margin-b20">
            <div class="azul1">
                <span class="azul">Tasa Efectiva Anual</span>
            </div>
            <div class="fusion">
                <span class="fus">8,0000%</span>
            </div>
        </div>

        <div class="label2 margin-b20">
            <div class="azul1">
                <span class="azul">Tasa Efectiva Semestral</span>
            </div>
            <div class="fusion">
                <span class="fus">3,923%</span>
            </div>
        </div>

        <div class="label2 margin-b20">
            <div class="azul1">
                <span class="azul">COK Semestral</span>
            </div>
            <div class="fusion">
                <span class="fus">2,225%</span>
            </div>
        </div>

        <div class="label2 margin-b20">
            <div class="azul1">
                <span class="azul">Costes Iniciales Emisor</span>
            </div>
            <div class="fusion">
                <span class="fus">23,10</span>
            </div>
        </div>

        <div class="label2 margin-b20">
            <div class="azul1">
                <span class="azul">Costes Iniciales Bonista</span>
            </div>
            <div class="fusion">
                <span class="fus">9,98</span>
            </div>
        </div>

        <div class="label2 margin-b20">
            <div class="azul1">
                <span class="azul">Precio Actual</span>
            </div>
            <div class="fusion">
                <span class="fus">1086,44</span>
            </div>
        </div>

        <div class="label2 margin-b20">
            <div class="azul1">
                <span class="azul">Utilidad / Pérdida</span>
            </div>
            <div class="fusion">
                <span class="fus">26,46</span>
            </div>
        </div>

        <div class="label2 margin-b20">
            <div class="azul1">
                <span class="azul">Duración</span>
            </div>
            <div class="fusion">
                <span class="fus">2,53</span>
            </div>
        </div>

        <div class="label2 margin-b20">
            <div class="azul1">
                <span class="azul">Convexidad</span>
            </div>
            <div class="fusion">
                <span class="fus">9,27</span>
            </div>
        </div>

        <div class="label2 margin-b20">
            <div class="azul1">
                <span class="azul">Total</span>
            </div>
            <div class="fusion">
                <span class="fus">11,80</span>
            </div>
        </div>

        <div class="label2 margin-b20">
            <div class="azul1">
                <span class="azul">Duración modificada</span>
            </div>
            <div class="fusion">
                <span class="fus">2,47</span>
            </div>
        </div>

        <div class="label2 margin-b20">
            <div class="azul1">
                <span class="azul">TCEA Emisor</span>
            </div>
            <div class="fusion">
                <span class="fus">6,87641%</span>
            </div>
        </div>

        <div class="label2 margin-b20">
            <div class="azul1">
                <span class="azul">TCEA Emisor c/Escudo</span>
            </div>
            <div class="fusion">
                <span class="fus">4,50695%</span>
            </div>
        </div>

        <div class="label2 margin-b20">
            <div class="azul1">
                <span class="azul">TREA Bonista</span>
            </div>
            <div class="fusion">
                <span class="fus">5,52784%</span>
            </div>
        </div>

    </mat-card>
    </div>
    
    <style>
    .example-card {
      max-width: 400px;
    }
    
    .example-header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }
    
    .font{
    
        font-family: "Roboto";
    }
    
    .b-color{
        background-color: #6DB0E8;
        color:white;
        font-style: "Roboto";
    }
    
    .card{
        background-color: #bfedef;
        border: white 25px solid;
        display: grid;
        justify-items: center;
        width: 700px;
    
    }
    
    .margin-t20{
        margin-top: 20px;
    }
    
    .margin-t10{
        margin-top: 10px;
    }
    
    .margin-b20{
        margin-bottom: 20px;
    }
    
    .container{
    display: grid;
    align-items: center;
    justify-items: center;
    }
    
    .label{
    width: 250px;
    }
    
    .label2{
    background-color: #a2d7ed;
    height: 52px;
    display: flex;
    align-items: center;
    width: 600px;
    }

    .azul{
    margin-left: 20px;
    width: 250px;}

    .fusion{
    margin-left: 20px;
    width: 320px;
    background-color: white;
    height: 52px;
    display: flex;
    align-items: center;}

    .fus{
    margin-left: 20px;}

    .azul1{
        height: 52px;
        width: 260px;
        display: flex;
        align-items: center;
    }

    .verde{
    padding-bottom: 30px;
    padding-top: 20px;}

    </style>
    