<div class="container">
  <div class="margin-b20 margin-t10">
    <img src="/assets/Logo_Transparente.jpg" alt="logo" class="logoform">
  </div>
  <form class="card center-h center-v" (ngSubmit)="onSubmit()" #loginForm="ngForm">

    <div class="margin-b20">
      <mat-card-title class="margin-t10">Inicio de sesión</mat-card-title>
    </div>
    <mat-form-field class="example-full-width label rosado margin-b20" appearance="fill">

      <input matInput
             placeholder="username"
             type="text" id="username" name="username" required
             [(ngModel)]="model.username"/>
        <!--              si el input está vacio, osea no colocó el email-->
        <mat-error *ngIf="model.username ==''">username is required</mat-error>

    </mat-form-field>

    <mat-form-field class="example-full-width label rosado margin-b20" appearance="fill">
<!--      <mat-label>Contraseña</mat-label>-->
      <input
        type="password"
        matInput
        placeholder="write your password :3"
        id="password" name="password" 
        [(ngModel)]="model.password"
        required/>
        <mat-error *ngIf="model.password ==''">password is required</mat-error>

      
    </mat-form-field>

    <div>
      <button mat-raised-button class="b-color material-button" type="submit"><span>Iniciar Sesión</span></button>
    </div>

    <p class="margin-t20">
    <span class="margin-b20">
        ¿Aún no tienes una cuenta?
            <strong routerLink="/sign-up">
                Regístrate
            </strong>
      </span>
    </p>
    <p>
        <span class="margin-b20">
                <strong routerLink="/reset-password">
                    ¿Olvidaste tu contraseña?
                </strong>
          </span>
    </p>
  </form>
</div>

