<div class="container">
  <div class="margin-b20 margin-t10">
    <img src="/assets/Logo_Transparente.jpg" alt="logo" class="logoform">
  </div>
  <form class="card center-h center-v" [formGroup]="registroForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="margin-b20">
      <mat-card-title class="margin-t10">Crea tu cuenta</mat-card-title>
    </div>

    <mat-form-field class="example-full-width label rosado margin-b20" appearance="fill">
      <input matInput
             placeholder="Escriba su username :)"
             formControlName="username"
             id = "username"
             required/> 
    </mat-form-field>

    <mat-form-field class="example-full-width label rosado margin-b20 " appearance="fill">
      <input matInput
             placeholder="user@gmail.com"
             id = "email"
             formControlName="email"
             required/>
      <!--      <mat-label>Correo electronico</mat-label>-->
    </mat-form-field>

    <mat-form-field class="example-full-width label rosado margin-b20" appearance="fill">
      <input matInput
             placeholder="ingrese un numero de telefono"
             formControlName="phone"
             id = "phone"
             required/>
    </mat-form-field>

    <mat-form-field class="example-full-width label rosado margin-b20" appearance="fill">
      <input matInput
        type="password"
        placeholder="write your password :3"
        formControlName="password"
        id = "password"
        required/>
    </mat-form-field>

    <mat-form-field class="example-full-width label rosado margin-b20" appearance="fill">
      <input matInput
            type="password"
             placeholder="repeat your password :3"
             formControlName="password"
             required/>
    </mat-form-field>


    <p>
      <mat-checkbox></mat-checkbox>

      <span class="margin-b20">
                Aceptar los términos y condiciones de esta pagina
            </span>
    </p>

    <div>
      <button mat-raised-button class="b-color" type="submit">Registrame</button>
    </div>

    <p class="margin-t20">
        <span class="margin-b20">
            ¿Ya estás registrado?
                <strong routerLink="/sign-in">
                    Inicia sesión
                </strong>
          </span>
    </p>

  </form>
</div>
