<div class="container verde">
  <form class="card" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate >
    <div class="margin-b20">
      <mat-card-title class="margin-t10">Método de amortización constante</mat-card-title>
    </div>

    <div class="label2">
      <span class="azul">Nombre del Bono</span>
      <span class="example-spacer"></span>
      <div class="example-full-width label rosado" appearance="fill">
        <input matInput 
        id="name" formControlName="name"
        placeholder="Ingrese el nombre del Bono"
        required/>
    </div>
    </div>

    
    <div class="label2 margin-b20 margin-t20">
      <span class="azul">Tipo de moneda</span>
      <span class="example-spacer"></span>

      <div class="example-full-width label rosado" formControlName="moneda_id" appearance="fill" >
        <select id="moneda_id" formGroupName="id" #moneda required (click)="onSelected(moneda.value)">
          <option value="1">Soles</option>
          <option value="2">Dolares</option>
          <option value="3">Yenes</option>
        </select>
      </div>

    </div>

    <div class="label2 margin-b20 margin-t20">
      <span class="azul">Valor Nominal</span>
      <span class="example-spacer"></span>
      <div class="example-full-width label rosado" appearance="fill">
        <input matInput
               id="v_nominal" formControlName="v_nominal"
               placeholder="Ingrese una cantidad"
               required/>
      </div>
    </div>

    <div class="label2 margin-b20">
      <span class="azul">Valor Comercial</span>
      <span class="example-spacer"></span>
      <div class="example-full-width label rosado" appearance="fill">
        <input matInput
              id="v_comercial" formControlName="v_comercial"
               placeholder="Ingrese una cantidad"
               required/>
      </div>
    </div>

    <div class="label2 margin-b20">
      <span class="azul">Número de Años</span>
      <span class="example-spacer"></span>
      <div class="example-full-width label rosado" appearance="fill">
        <input matInput
              id="n_años" formControlName="n_años"
               placeholder="Ingrese una cantidad de años"
               required/>
      </div>
    </div>

    <div class="label2 margin-b20">
      <span class="azul">Frecuencia del cupón</span>
      <span class="example-spacer"></span>
      <div class="example-full-width label rosado" appearance="fill" formControlName="frecuencia_id">
        <select id="frecuencia_id" formGroupName="id" required>
          <option value="1">Mensual</option>
          <option value="2">Bimestral</option>
          <option value="3">Trimestral</option>
          <option value="4">Cuatrimestral</option>
          <option value="5">Semestral</option>
          <option value="6">Anual</option>
        </select>
      </div>
    </div>

    <div class="label2 margin-b20">
      <span class="azul">Número de días por año</span>
      <span class="example-spacer"></span>
      <div class="example-full-width label rosado" appearance="fill" formControlName="tipoanho_id">
        <select id="tipoanho_id" formGroupName="id" required>
          <option value="1">360</option>
          <option value="2">365</option>
        </select>
      </div>
    </div>

    <div class="label2 margin-b20">
      <span class="azul">Tipo de tasa de interés</span>
      <span class="example-spacer"></span>
      <div class="example-full-width label rosado" appearance="fill" formControlName="tipointeres_id">
                <select id="tipointeres_id" formGroupName="id" required>
                <option value="1">NOMINAL</option>
                <option value="2">EFECTIVA</option>
              </select>
      </div>
    </div>

    <div class="label2 margin-b20">
      <span class="azul">Capitalización</span>
      <span class="example-spacer"></span>
      <div class="example-full-width label rosado"  appearance="fill" formControlName="capitalizacion_id">
        <select id="capitalizacion_id" formGroupName="id" required>
          <option value="1">Diaria</option>
          <option value="2">Quincenal</option>
          <option value="3">Mensual</option>
          <option value="4">Bimestral</option>
          <option value="5">Trimestral</option>
          <option value="6">Cuatrimestral</option>
          <option value="7">Semestral</option>
          <option value="8">Anual</option>
        </select>
      </div>
    </div>

    <div class="label2 margin-b20">
      <span class="azul">Tasa de interés</span>
      <span class="example-spacer"></span>
      <div class="example-full-width label rosado" appearance="fill">
        <input matInput
              id="tasa_interes" formControlName="tasa_interes"
               placeholder="Ingrese un porcentaje sin signo %"
               required/>
      </div>
    </div>

    <div class="label2 margin-b20">
      <span class="azul">Tasa anual de descuento</span>
      <span class="example-spacer"></span>
      <div class="example-full-width label rosado" appearance="fill">
        <input matInput
                id="ta_anual_desc" formControlName="ta_anual_desc"
               placeholder="Ingrese un porcentaje sin signo %"
               required/>
      </div>
    </div>

    <div class="label2 margin-b20">
      <span class="azul">Impuesto a la Renta</span>
      <span class="example-spacer"></span>
      <div class="example-full-width label rosado" appearance="fill">
        <input matInput
              id="impuestor" formControlName="impuestor"
               placeholder="Ingrese un porcentaje sin signo %"
               required/>
      </div>
    </div>

    <div class="label2 margin-b20">
      <span class="azul">Fecha de Emisión</span>
      <span class="example-spacer"></span>
      <div  class="example-full-width label rosado" appearance="fill">
        <input matInput type="date"
              id="fch_emision" formControlName="fch_emision"
              impuestor
               required/>
      </div>

    </div>

    <div class="label2 margin-b20">
      <span class="azul">Porcentaje de Prima</span>
      <span class="example-spacer"></span>
      <div class="example-full-width label rosado" appearance="fill">
        <input matInput
              id="prima" formControlName="prima"
               placeholder="Ingrese un porcentaje sin signo %"
               required/>
      </div>
    </div>

    <div class="label2 margin-b20">
      <span class="azul">Porcentaje de Estructuración</span>
      <span class="example-spacer"></span>
      <div class="example-full-width label rosado" appearance="fill">
        <input matInput
              id="estructuracion" formControlName="estructuracion"
               placeholder="Ingrese un porcentaje sin signo %"
               required/>
      </div>
    </div>

    <div class="label2 margin-b20">
      <span class="azul">Tipo de persona (Estructuración)</span>
      <span class="example-spacer"></span>
      <div class="example-full-width label rosado" appearance="fill">
          <mat-option value="Bonista">Bonista</mat-option>
      </div>
    </div>

    <div class="label2 margin-b20">
      <span class="azul">Tasa de Colocación</span>
      <span class="example-spacer"></span>
      <div class="example-full-width label rosado" appearance="fill">
        <input matInput
              id="colocacion" formControlName="colocacion"
               placeholder="Ingrese un porcentaje sin signo %"
               required/>
      </div>
    </div>
    <div class="label2 margin-b20">
      <span class="azul">Porcentaje de Flotación</span>
      <span class="example-spacer"></span>
      <div class="example-full-width label rosado" appearance="fill">
        <input matInput
              id="flotacion" formControlName="flotacion"
               placeholder="Ingrese un porcentaje sin signo %"
               required/>
      </div>
    </div>
    <div class="label2 margin-b20">
      <span class="azul">Porcentaje de CAVALI</span>
      <span class="example-spacer"></span>
      <div class="example-full-width label rosado" appearance="fill">
        <input matInput
              id="cavali" formControlName="cavali"
               placeholder="Ingrese un porcentaje sin signo %"
               required/>
      </div>
    </div>

    <div>
      <button mat-raised-button class="b-color" type="submit"><span>Calcular</span></button>
    </div>
  </form>
</div>
<style>
  .example-card {
    max-width: 400px;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .font {

    font-family: "Roboto";
  }

  .b-color {
    background-color: #6DB0E8;
    color: white;
    /*//font-style: Roboto;*/
  }

  .card {
    background-color: #bfedef;
    border: white 25px solid;
    display: grid;
    justify-items: center;
    width: 700px;

  }

  .margin-t20 {
    margin-top: 20px;
  }

  .margin-t10 {
    margin-top: 10px;
  }

  .margin-b20 {
    margin-bottom: 20px;
  }

  .container {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .label {
    width: 250px;
  }

  .logoform {
    height: 100px;
    width: 250px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .label2 {
    background-color: #a2d7ed;
    height: 52px;
    display: flex;
    align-items: center;
    width: 600px;
  }

  .azul {
    margin-left: 20px;
  }

  .rosado {
    background-color: white;
    height: 52px;
    width: 300px;
  }

  .verde {
    padding-bottom: 30px;
    padding-top: 20px;
  }


</style>
